In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
print("Libraries Imported Successfully.")

Libraries Imported Successfully.

In [2]:
## Loading Dataset

data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
## Preprocess the data
### Drop irrelevant columns:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [4]:
## Encode Categorical variables
label_encoder_gender = LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [5]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [9]:
## Onehot Encode "Geography" column:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [10]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [13]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [14]:
## Combine one hot encoded columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [15]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [16]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [17]:
## Divide the dataset into independent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

## Split the data in training and testing sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [19]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [20]:
data.head(7)

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0
5          645       1  ...                0.0              1.0
6          822       1  ...                0.0              0.0

[7 rows x 13 columns]

---
## ANN Implementation

In [21]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
print("Libraries Imported Successfully.")

Libraries Imported Successfully.

In [23]:
## Build ANN Model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),        ## HL1 Connected with input layer
    Dense(32,activation='relu'),        ## HL2
    Dense(1,activation='sigmoid')       ## Output Layer
])

In [24]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Optimizer and loss
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [27]:
## Compile the model
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [40]:
## Setup the Tensorboard
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [32]:
## Setup Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [33]:
## Training the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3442 - accuracy: 0.8612 - val_loss: 0.3464 - val_accuracy: 0.8510
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3413 - accuracy: 0.8596 - val_loss: 0.3589 - val_accuracy: 0.8590
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8616 - val_loss: 0.3454 - val_accuracy: 0.8625
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8627 - val_loss: 0.3411 - val_accuracy: 0.8635
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8622 - val_loss: 0.3358 - val_accuracy: 0.8640
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8634 - val_loss: 0.3411 - val_accuracy: 0.8595
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3283 - accuracy: 0.8658 - val_loss: 0.3412 - val_accuracy: 0.8560
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3282 - accuracy: 0.8668 - val_loss: 0.3385 - val_accuracy: 0.8610
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3229 - accuracy: 0.8681 - val_loss: 0.3433 - val_accuracy: 0.8615
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3208 - accuracy: 0.8669 - val_loss: 0.3446 - val_accuracy: 0.8620
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3212 - accuracy: 0.8664 - val_loss: 0.3408 - val_accuracy: 0.8625
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3171 - accuracy: 0.8695 - val_loss: 0.3385 - val_accuracy: 0.8645
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3184 - accuracy: 0.8691 - val_loss: 0.3455 - val_accuracy: 0.8635
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3142 - accuracy: 0.8695 - val_loss: 0.3439 - val_accuracy: 0.8670
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3120 - accuracy: 0.8715 - val_loss: 0.3412 - val_accuracy: 0.8640

In [35]:
## Saving the model
model.save('model.h5')

In [41]:
## Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [45]:
%tensorboard --logdir logs/fit20241129-125207

Reusing TensorBoard on port 6008 (pid 15060), started 0:13:53 ago. (Use '!kill 15060' to kill it.)